.tab-info-container {
  border-left: 8px solid #2a9d8f;
  background-color: white !important;
  /*background-color: #f6f6f7 !important;*/
  padding: 17px 20px
}

.newTabForm {
  border: 1px solid #9999993e;
  padding: 8px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.tab-info-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h6 {
  color: #E76f51;
  font-weight: bold;
  font-size: 20px;
}

.tab-text {
  font-size: 13px;
  color: #444444;
}

.tab-description {
  color: #444444;
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
  margin-bottom: 15px;
}

hr {
  margin: 0px 0px 20px 0px;
}

.button {
  background-color: #2391eb;
  border: #2391eb;
  color: white;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 13px;
}