.tab-info-container {
  /*border-left: 8px solid #F2F0F3;*/
  border-left: 8px solid #2a9d8f;
  background-color: white !important;
  padding: 17px 20px
}

.tab-text {
  font-size: 13px;
  color: #444444;
}