.tab-info-container {
  /*border-left: 8px solid #F2F0F3;*/
  border-left: 8px solid #2a9d8f;
  background-color: white !important;
  padding: 17px 20px
}

.newTabForm {
  border: 1px solid #9999993e;
  padding: 8px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.tab-text {
  font-size: 13px;
  color: #444444;
}

h6 {
  font-weight: 600;
  color: #444444;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
}

.button {
  background-color: #2391eb;
  border: #2391eb;
  color: white;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 13px;
}