.text-center {
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-header {
  /*background-color: hsla(12, 76%, 61%, 0.236);*/
  background-color: #2a9d9016;
  display: flex;
  flex-direction: row;
}

.delete-post {
  margin-left: auto;
  padding: 0px 7px;
  color: #44444456 !important;
  position: relative;
}

.delete-post:hover {
  cursor: pointer;
}

.postOptions {
  border: 1px solid #4444446a;
  position: absolute;
  z-index: 100;
  background-color: white;
  color: #444444;
  border-radius: 3px;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
  text-align: start;
  margin: 0px;
  padding: 0px;
}

li { 
  padding: 0px 5px;
}

li:hover {
  background-color: #4444440c;
  color: #444444;
}

.delete { 
  border-top: 1px solid #4444446a;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}