.newPostContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.newPostForm {
  border: 1px solid #9999993e;
  padding: 8px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 20px;
}

.postButton {
  background-color: white !important;
  color: #444444;
  border: 1px solid #44444435;;
  padding: 3px 10px;
  font-size: 13px;
}

.postButton:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white !important;
  color: #444444;
  border: 1px solid #44444435;;
  padding: 3px 10px;
  font-size: 13px;
}

.postButton:focus,
.postButton:active {
  outline: none;
  box-shadow: none;
}