.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 0px;
  padding: 0px 100px;
  border-bottom: 3px solid #F2F0F3;
  border-radius: 0px 0px 8px 8px;
}

.profileImage {
  width: 60px;
  border-radius: 54px;
  border: 1px solid #2a9d8f;
  margin-bottom: 8px;
}

.header-container h5 {
  color: #e76f51;
  font-weight: bold;
}

h5,
p {
  margin-top: 0px;
  margin-bottom: 3.5px;
  text-align: center;
}

p {
  margin-top: 3.5px;  
  margin-bottom: 0px;
  font-size: 13px;
}

@media (max-width: 640px) {
  .profile-header-text-container p {
    font-size: 13px;
  }
}