.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*background-color: hsla(173, 58%, 39%, 0.308);*/
  /*background-color: #F2F0F3;*/
  background-color: white;
  margin: 0px;
  padding: 15px 20px;
  border-bottom: 3px solid #F2F0F3;
  border-radius: 8px;
}

.profileImage {
  width: 75px;
  border-radius: 54px;
  border: 2px solid #F2F0F3;
  /*border: 2px solid hsla(12, 76%, 61%, 0.767);*/
  /*border: 4px solid white;*/
  margin-bottom: 8px;
}

.header-container h2 {
  color: #e76f51;
  font-weight: bold;
}

h2,
p {
  margin-top: 0px;
  margin-bottom: 3.5px;
  text-align: center;
}

p {
  margin-top: 3.5px;  
  margin-bottom: 0px;
}

@media (max-width: 640px) {
  .profile-header-text-container p {
    font-size: 13px;
  }
}