.tab-container {
  background-color: white !important;
  border-radius: 8px;
  padding: 0px 9px 5px 9px !important;
}

.collection {
  margin-bottom: 5px;
  color: #444444;
}

.tab-title {
  font-size: 13px;
}

.nav-link.active {
  background-color: #2a9d8f !important;
  color: white !important;
}

.nav-link {
  background-color: white !important;
  color: #2a9d8f !important;
  border: .5px solid #2a9d8f !important;
}