.tab-container {
  background-color: white !important;
  border-radius: 8px;
  padding: 0px 9px 5px 9px !important;
}

.collection {
  margin-bottom: 5px;
  color: #444444;
}

.tab-title {
  font-size: 12px;
}

.tab-title {
  padding: 5px 5px 5px 8px;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 85px;
  padding: 0px;
}

.nav-link.active {
  background-color: #2a9d8f !important;
  color: white !important;
  max-width: 25ch !important;
}

.nav-link.active .delete-tab {
  color: white;
  background-color: #2a9d8f;
  width: 20px;
  text-align: center;
  border-radius: 10px;
}
.nav-link.active .delete-tab:hover {
  color: #2a9d8f;
  background-color: white;
  width: 20px;
  text-align: center;
  border-radius: 10px;
}

.nav-link.active:hover,
.nav-link:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 4px;
}

.nav-link {
  background-color: white !important;
  color: #2a9d8f !important;
  border: .5px solid #2a9d8f !important;
  display: flex;
  flex-direction: row;
}

.delete-tab {
  margin-left: auto;
  color: #2a9d8f;
  background-color: white;
  width: 20px;
  text-align: center;
  border-radius: 10px;
}

.delete-tab:hover {
  color: white;
  background-color: #2a9d8f;
  width: 20px;
  text-align: center;
  border-radius: 10px;
}